* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

/* 폰트 */
html {
  font-size: 16px;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-weight: 300;
}

/* 폰트 End */

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.move {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: #d9d9d9;
  overflow: hidden;
  background-image: url("img/main_bg.png");
}

.move .cube span:nth-child(1) {
  background-color: #fff;
  transform: translateZ(20vh);
}

.move .cube span:nth-child(2) {
  background-color: #fff;
  transform: rotateY(180deg) translateZ(20vh);
}

.move .cube span:nth-child(3) {
  background-color: #f4f4f4;
  transform: rotateY(90deg) translateZ(20vh);
}

.move .cube span:nth-child(4) {
  background-color: #f4f4f4;
  transform: rotateY(-90deg) translateZ(20vh);
}

.move .cube span:nth-child(5) {
  background-color: #ededed;
  transform: rotateX(90deg) translateZ(20vh);
}

.move .cube span:nth-child(6) {
  background-color: #ededed;
  transform: rotateX(-90deg) translateZ(20vh);
}

.move .cube span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.move .cube {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40vh;
  height: 40vh;
  margin: -20vh 0 0 -20vh;
  transform-style: preserve-3d;
}

.move p {
  position: relative;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transform: translateZ(1000px);
  margin: 10px 0;
}

#mainTitle {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
}

#subTitle {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.move p span {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.move p span.spacing {
  display: inline;
}

section:not(.home) {
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  position: absolute;
  padding: 0 5vw;
}

section.on {
  visibility: visible;
}

.open_title {
  opacity: 0;
  transform: translateY(3vh);
  transition: all 0.5s ease-out;
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.open_title {
  width: 90vw;
  height: 100vh;
}

.open_title.on {
  opacity: 1;
  transform: translateY(0);
  z-index: 100;
}

article {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

article h3 {
  margin-bottom: 100px;
  border-bottom: 2px solid #000;
}

section > article {
  opacity: 0;
  transition: all 0.5s ease-out;
}
section > article.on {
  opacity: 1;
}

.skillName {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  width: 200px;
}

.skillEl {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#html .skillName {
  background-color: #e55126;
}

#css .skillName {
  background-color: #0c73b8;
}

#js .skillName {
  background-color: #e5a228;
}

#react .skillName {
  background-color: #00ccff;
}

.skillName .skillImg img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.skillName .skillImg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
}

.skillName p {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.skillBar {
  position: relative;
}

.skillBar div {
  height: 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.skillBar .emptyBar {
  background-color: #ededed;

  z-index: -1;
  width: 50vw;
}

.skillBar .fillBar {
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
}

#html .skillBar .fillBar {
  background-color: #e55126;
}

#css .skillBar .fillBar {
  background-color: #0c73b8;
}

#js .skillBar .fillBar {
  background-color: #e5a228;
}

#react .skillBar .fillBar {
  background-color: #00ccff;
}

p.percent {
  margin-left: 10px;
  font-weight: 200;
}

article.profile {
  display: flex;
  flex-direction: row;
}

.profile > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  overflow: hidden;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

.profileImg img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.profileLine {
  width: 15px;
  height: 2px;
  background-color: #000;
  margin: 10px 0;
}

.profileName {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 20px;
}

.profileName span {
  font-weight: 700;
}

.profileSubContent {
  width: 200px;
  text-align: justify;
  font-weight: 300;
}

.profile div.profileCotentArea {
  align-items: flex-start;
}

.profileContent {
  height: 200px;
  margin-bottom: 50px;
}

.profileCotentArea .profileContent:last-child {
  margin: 0;
}

.profileContent > div {
  margin-top: 20px;
  font-weight: 300;
}

.pfImg img {
  width: 800px;
}

.silde {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
